@model SnaptStories6.Models.ShortStory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShortStory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortStoryReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortStoryReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShortStoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
